


@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Roboto/Roboto-Regular.ttf") format("ttf");

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/Roboto/Roboto-Bold.ttf") format("ttf");

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Lato/Lato-Regular.ttf") format("ttf");

  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/Lato/Lato-Bold.ttf") format("ttf");
}

/* ----- Global ----- */
:root {
    --animate-duration: 5s;
    --animate-delay: 5s;
  }


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 96px auto auto auto auto;
  margin: 0 auto;
  justify-content: center;
  font-family: "Lato";
  font-size: 1.6rem;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto";
}

h1 {
  font-size: 5rem;
}

h2 {
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 40px;
}

button {
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 1.6rem;
  border-radius: 6px;
  padding: 6px 13px;
  color: #fff;
  cursor: pointer;
  animation: change-color 5s infinite;

}


button:hover {
  transform: scale(0.9);
}

a,
button {
  transition: all 0.3s ease-out;
}

nav,
header,
.rubber-duck,
.emergency,
.contact {
  border-bottom: 1px solid #fff;
  background-color: #00a9ff;
  padding: 100px 0;
}

/* ----- Nav ----- */

nav {
  justify-content: space-between;
  align-items: center;
  padding: 0 55px;
  background-color: #00a9ff;
}

nav,
ul {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  list-style: none;
  margin: 0 13px;
}

.logo,
nav ul li a {
  padding: 15px 20px;
}

.logo{
    animation: logo 5s infinite;
}


nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  -webkit-text-underline-position: under;
  -ms-text-underline-position: below;
  text-underline-position: under;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* ----- End Nav ----- */

/* ----- Header ----- */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("./images/front-end-web-developer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 96px);
  width: 100%;
  color: #fff;
}

.text {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 700px;
}

.text h1 {
  margin-bottom: 20px;
}

.text p {
  line-height: 1.5;
}

/* ----- End Header ----- */

/* ----- Rubber duck ----- */

.rubber-duck {
  display: flex;
  justify-content: center;
}

.left-section,
.right-section {
  width: 50%;
}

.left-section,
.right-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-section p {
  max-width: 600px;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* ----- End Rubber duck ----- */

/* ----- Emergency ----- */
.emergency {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.elements {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 300px);
  grid-gap: 30px;
}


.elements  a{
    display: block;
    height: 100%;
    width: 100%;
}

.elements div{
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    color: #000;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.elements div img{
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.elements div img:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    }


.elements div:nth-child(2) img,
.elements div:nth-child(5) img
{
    height: 100%;
    width: 100%;
    display: block;
    object-fit: fill;
}

.elements div p{
   display: none;
}



/* ----- End Emergency ----- */

/* ----- Contact ----- */

.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.contact input,
.contact textarea {
  background-color: #fcfcfc;
  width: 100%;
  display: block;
  margin-bottom: 20px;
  border: 1px solid #fcfcfc;
}

.contact input {
  height: 33px;
}

.contact textarea {
  height: 88px;
  resize: none;
}


/* ----- Animation ----- */

@keyframes logo {
    50% {transform: rotate(180deg);}
  }

@keyframes change-color {
    from { border: 1px solid #fff;
        color: #fff;
      
        ;}
    to {border: 1px solid #000;
        color: #000;
        
    }
  }